
<% t =  data.home%>
<div class="header1">
  <h1><%= t.titulo1  %></h1>
  <h2><%= t.titulo2_a  %></h2>
  <h2><%= t.titulo2_b  %></h2>
</div>
<section class="home_content">
  <div class="content_title">
    <h3><%= t.titulo3 %> </h3>
    <div class="icons-row">
      <%= partial(:'components/icon-card', :locals => { :number => "1", :image => "images/menu.png",  :text => t.icon1 }) %>

    </div>
  </div>
</section>


