
<% t =  data.home%>
<div class="header1">
  <h1><%= t.titulo1  %></h1>
  <h2><%= t.titulo2_a  %></h2>
  <h2><%= t.titulo2_b  %></h2>
</div>
<section class="home_content">
  <h3 class="content_title margin5 margin-bottom5"><%= t.titulo3 %> </h3>
  <div class="icons-row">
      <%= partial(:'components/icon-card', :locals => { :number => "1", :image => "images/menu.png",  :text => t.icon1 }) %>
      <%= partial(:'components/icon-card', :locals => { :number => "2", :image => "images/women.png",  :text => t.icon2 }) %>
      <%= partial(:'components/icon-card', :locals => { :number => "3", :image => "images/responsive.png",  :text => t.icon3 }) %>
      <%= partial(:'components/icon-card', :locals => { :number => "4", :image => "images/serving-dish.png",  :text => t.icon4 }) %>
  </div>
</section>


